
  
  
  $primary: #90b3e2;
  
  .map-container {
    padding: 3.2rem .8rem;
    position: relative;
    display: inline-block;
    img {
      width: 100%;

    }
    
    .point {
      cursor: pointer;
      position: absolute;
      width: 1.6rem;
      height: 1.6rem;
      background-color:  $primary;
      border-radius: 50%;
      transition: all .3s ease;
      will-change: transform, box-shadow;
      transform: translate(-50%, -50%);
      box-shadow: 0 0 0 rgba($primary, 0.4);
      animation: pulse 3s infinite;
      &:hover {
        animation: none;
        transform:  translate(-50%, -50%) scale3D(1.35, 1.35 ,1);
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
      }
    }
    .sapStyle { top: 58.5%; left: 54.5%; background-image: url(../image/svg/linkSAP.svg);background-repeat: no-repeat; background-color: #fff;border: 1px solid #227dc6; background-size: 80%; height: 4rem; width: 4rem; background-attachment: fixed; background-position: center;}
    .salesforceStyle { top: 75%; left: 23%; background-image: url(../image/svg/linkSalesforce.svg); background-repeat: no-repeat; background-color: #fff;border: 1px solid #227dc6; background-size: 80%; height: 4rem; width: 4rem; background-attachment: fixed; background-position: center;}
    .egypt { top: 40%; left: 53%; background-image: url(../image/svg/link.svg); background-repeat: no-repeat; background-color: #fff;border: 1px solid #227dc6; background-size: 100%; height: 3rem; width: 3rem; background-attachment: fixed; background-position: center;}
    .singapur { top: 55%; left: 76%; background-image: url(../image/svg/link.svg); background-repeat: no-repeat; background-color: #fff;border: 1px solid #227dc6; background-size: 100%; height: 3rem; width: 3rem; background-attachment: fixed; background-position: center;}
  }
  
  @keyframes pulse {
    0% { box-shadow: 0 0 0 0 rgba($primary, 0.5); }
    70% { box-shadow: 0 0 0 25px rgba($primary, 0); }
    100% { box-shadow: 0 0 0 0 rgba($primary, 0); }
  }
  